.card {
  margin-bottom: 30px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card__gallery {
  width: 525px;
  padding-top: 25px;
  
  img {
    display: block;
    max-height: 100%;
  }
}

.card__info {
  width: 400px;
}

.card__img {
  width: 100%;
  height: 515px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__thumb {
  width: 32%;
  height: 172px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.card__table {
  width: 100%;
  margin-bottom: 25px;
  border-collapse: collapse;
  
  td {
    width: 50%;
    height: 25px;
    
    &:first-child {
      font-weight: 700;
    }
  }
}

.card__list {
  .reset();
  list-style-type: none;
}

.card__checkbox {
  display: none;
}

.card__label {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  
  img {
    display: block;
    width: 50px;
    margin-right: 15px;
    border: 2px solid rgba(0,0,0,0);
  }
}

.card__checkbox:checked + .card__label {
  span {
    text-decoration: underline;
  }
  
  img {
    border-color: rgba(0,0,0,0.8);
  }
}

.card__price {
  float: left;
}

.card__buy {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card__number {
  width: 54px;
  height: 31px;
  border: 1px solid #000;
  border-right: none;
  text-align: center;
}
