@media (max-width: 1400px) {
  .brand__prev,
  .promo__prev {
    left: 0;
  }
  .brand__next,
  .promo__next {
    right: 0;
  }
}

@media (max-width: 1260px) {
  .wrapper {
    width: 100%;
  }
  .menu__item {
    margin: 0 20px;
  }
  .promo__title {
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  .promo__text {
    margin-bottom: 20px;
  }
  .promo__info {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .news__item,
  .hit__list {
    margin-right: 0;
  }
  .text__info,
  .text__img {
    width: 48%;
  }
  .news__list {
    margin-right: 0;
    justify-content: space-between;
  }
}
//--------------------------------------------
@media (max-width: 1022px) {
  .promo__info {
    height: 100%;
    overflow: hidden;
    padding-left: 50px;
    padding-top: 20px;
  }
  .promo__title {
    font-size: 24px;
  }
  .promo__text {
    font-size: 14px;
  }
  .promo {
    margin-top: 0;
    margin-bottom: 40px;
  }
  .brand {
    margin-bottom: 60px;
  }
  .hit__list {
    justify-content: space-around;
  }
  .hit__item {
    margin-right: 0;
  }
  .news__list,
  .benefits__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .benefits {
    margin-bottom: 40px;
  }
  .text__wrap {
    display: block;
    margin-top: 0;
  }
  .text__img,
  .text__info {
    width: 100%;
  }
  .text__img {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__bottom {
    flex-direction: column;
    text-align: center;
    line-height: 1.5;
  }
  .footer__top {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer__block {
    order: 1;
    margin-bottom: 30px;
  }
  .footer__contacts {
    order: 2;
    width: 50%;
    margin-bottom: 30px;
  }
  .footer__menu--info {
    order: 3;
    width: 50%;
  }
  .footer__menu--goods {
    order: 4;
    width: 50%;
  }
  .footer__title {
    background-image: url(../img/icons/down-filter.svg);
    background-repeat: no-repeat;
    background-size: 13px 8px;
    background-position: right 25px center;
  }
  .footer__list {
    display: none;
  }
  .header-new {
    position: relative;
  }
  .header-new__top {
    flex-wrap: wrap;
    border-bottom: 0;
  }
  .logo {
    margin-bottom: 10px;
  }
  .menu__btn {
    position: absolute;
    top: 100%;
    right: 15px;
    z-index: 10;
    width: auto;
    height: auto;
    padding: 22px 40px;
    padding-left: 0;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .05em;
    text-transform: uppercase;
    background-image: url(../img/icons/icon-menu-ham-white.svg);
    background-repeat: no-repeat;
    background-size: 30px 19px;
    background-position: right center;
  }
  .menu__list {
    top: ~"calc(100% + 60px)";
    z-index: 100;
    width: 100%;
    right: 0;
  }
  .menu--opened .menu__btn {
    background-image: url(../img/icons/icon-menu-cross-white.svg);
    background-size: 24px 24px;
  }
}

//--------------------------------------------
@media (max-width: 766px) {
  .header-new__top {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .search {
    width: auto;
    margin-bottom: 10px;
  }
  .header-new__phones {
    margin-bottom: 10px;
  }
  .promo__info {
    width: 100%;
    padding: 20px 50px;
  }
  .promo__title {
    font-size: 20px;
  }
  .promo__text {
    display: none;
  }
  .promo__slider {
    padding-bottom: 30px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
  }
  .tabs__wrap {
    display: block;
    border-bottom: 0;
  }
  .tabs__title {
    margin-bottom: 20px;
    border-bottom: 1px solid #182639;
  }
  .footer__block {
    width: 50%;
  }
}

//--------------------------------------------
@media (max-width: 480px) {
  .promo__info {
    padding: 10px 30px;
    margin-bottom: 10px;
  }
  .promo__title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .promo__btn {
    width: 130px;
    height: 25px;
    font-size: 12px;
  }
  .brand__slide {
    height: 100px;
    padding: 15px;
  }
  .tabs__title {
    flex-direction: column;
  }
  .tabs__name {
    margin-right: 0;
  }
  .tabs__name a::after {
    bottom: 15px;
  }
  .tabs__btn {
    margin: 0 auto;
  }
  .title-2 {
    padding-bottom: 10px;
    font-size: 24px;
  }
  .text__img {
    max-width: 100%;
    
    img {
      width: 100%;
    }
  }
  .news__btn {
    position: static;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .footer__block,
  .footer__menu--info,
  .footer__menu--goods,
  .footer__contacts {
    width: 100%;
  }
  .news {
    margin-bottom: 40px;
  }
  .news__img {
    height: 160px;
  }
  .header-new__phones a {
    display: block;
  }
}
