.similar {
  margin-bottom: 95px;
  
  .wrapper {
    position: relative;
  }
  .title-2 {
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
}

.similar__slider {
  box-sizing: border-box;
}

.similar__slide {
  box-sizing: border-box;
  position: relative;
  height: auto;
  
  .hit__img {
    height: 305px;
  }
  
  &:hover,
  &:active {
    .hit__title {
      color: @gold;
      .transition();
    }
  }
}

.similar__prev,
.similar__next {
  top: 5px;
  margin-top: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  color: #fff;
  text-align: center;
  line-height: 1;
  font-size: 24px;
  font-weight: 600;
  background-color: #182639;
  background-image: none;
}

.similar__prev {
  transform: none;
  left: auto;
  right: 70px;
}

.similar__next {
  right: 15px;
}

.breadcrumbs {
  padding: 0;
  margin-bottom: 30px;
}

.breadcrumbs__link {
  font-size: 12px;
}
